# Setting up a Schema in Spark

### Introduction

In this lesson, we'll practice using Spark to change the datatypes of our schema.  We'll do so using the database of flood insurance claims.  Let's get started.

### Getting Set Up (For Google Colab)

> If we are running this on google colab, we can run the following to eventually interact with our Spark UI.

* Begin by installing some pip packages and the java development kit.

In [ ]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet 
!apt install openjdk-8-jdk-headless &> /dev/null

* Then set the java environmental variable

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

* Then connect to a SparkSession, setting the spark ui port to `4050`.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("civComplaints") \
    .config("spark.ui.port", "4050") \
    .getOrCreate()

* Then we need to install ngrok which will allow us to place our local spark ui on the web.

In [1]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip &> /dev/null
!unzip ngrok-stable-linux-amd64.zip &> /dev/null
get_ipython().system_raw('./ngrok http 4050 &')

* And finally we get a link our Spark UI

In [ ]:
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

### Setting DataTypes

Then let's load our data from the csv file.

In [8]:
import pandas as pd
df = pd.read_csv('s3://jigsaw-labs/houston_claims.csv', index_col = 0).astype(str)

And then load the data into a spark dataframe.

In [9]:
claims_df = None

Next use the `dtypes` method to see the format of our data.

In [11]:


# [('reportedCity', 'string'),
#  ('dateOfLoss', 'string'),
#  ('elevatedBuildingIndicator', 'string'),
#  ('floodZone', 'string'),
#  ('latitude', 'string'),
#  ('longitude', 'string'),
#  ('lowestFloodElevation', 'string'),
#  ('amountPaidOnBuildingClaim', 'string'),
#  ('amountPaidOnContentsClaim', 'string'),
#  ('yearofLoss', 'string'),
#  ('reportedZipcode', 'string'),
#  ('id', 'string')]

[('reportedCity', 'string'),
 ('dateOfLoss', 'string'),
 ('elevatedBuildingIndicator', 'string'),
 ('floodZone', 'string'),
 ('latitude', 'string'),
 ('longitude', 'string'),
 ('lowestFloodElevation', 'string'),
 ('amountPaidOnBuildingClaim', 'string'),
 ('amountPaidOnContentsClaim', 'string'),
 ('yearofLoss', 'string'),
 ('reportedZipcode', 'string'),
 ('id', 'string')]

So we can see that multiple columns are not in the correct format.

Begin by making the following changes. 
* Change `latitude` and `longitude` into floats.
> Use the [spark documentation](https://spark.apache.org/docs/latest/sql-ref-datatypes.html) if need be.

If we check the datatypes of `latitude` `longitude` and `id`, we should see the following:

In [33]:
updated_claims_df.select(['latitude', 'longitude'])
# DataFrame[latitude: float, longitude: float, id: int]

DataFrame[latitude: float, longitude: float]

And we should see the following values.

In [34]:
updated_claims_df.select(['latitude', 'longitude']).show(2)

+--------+---------+
|latitude|longitude|
+--------+---------+
|    29.7|    -95.5|
|    29.5|    -95.1|
+--------+---------+
only showing top 2 rows

Of course, we still have some additional columns that we should update.

In [35]:
updated_claims_df.printSchema()

root
 |-- reportedCity: string (nullable = true)
 |-- dateOfLoss: string (nullable = true)
 |-- elevatedBuildingIndicator: string (nullable = true)
 |-- floodZone: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- lowestFloodElevation: string (nullable = true)
 |-- amountPaidOnBuildingClaim: string (nullable = true)
 |-- amountPaidOnContentsClaim: string (nullable = true)
 |-- yearofLoss: string (nullable = true)
 |-- reportedZipcode: string (nullable = true)
 |-- id: string (nullable = true)

So now let's make the following changes to the `amountPaid` and `yearOfLoss` columns:
* Change the `amountPaidOnBuildingClaim` and columns `amountPaidOnContentsClaim` into floats, and rename the columns to `amount_paid_bldg`, and `amount_paid_contents` respectively.   
* And change the `yearOfLoss` column into an integer, renaming the column to `year`.

In [43]:
updated_renamed_claims_df = None

And then let's take a look at this new dataframe.

In [44]:
updated_renamed_claims_df.dtypes

[('reportedCity', 'string'),
 ('dateOfLoss', 'string'),
 ('elevatedBuildingIndicator', 'string'),
 ('floodZone', 'string'),
 ('latitude', 'float'),
 ('longitude', 'float'),
 ('lowestFloodElevation', 'string'),
 ('amount_paid_bldg', 'int'),
 ('amount_paid_contents', 'int'),
 ('year', 'int'),
 ('reportedZipcode', 'string'),
 ('id', 'string')]

Ok, so the remaining column to change is the `dateOfLoss` column.  Let's tackle this in the next section.

### Changing the date column

Finally change the date of loss column.  If we look at it, we can see that it has a full time stamp.

In [45]:
updated_renamed_claims_df.select('dateOfLoss').show(2)

+--------------------+
|          dateOfLoss|
+--------------------+
|2017-08-27T00:00:...|
|2008-09-12T00:00:...|
+--------------------+
only showing top 2 rows

So we can change this column by renaming it from `dateOfLoss` to simply `date`, and changing the datatype to be of type `TimeStampType`.  

> We do not need to use the `to_date` method here, as the `TimeStampType` can interpret this formatting out of the box.

In [46]:
from pyspark.sql.types import TimestampType

In [57]:
coerced_claims_df = None

In [58]:
coerced_claims_df.select('date').show(3)

+-------------------+
|               date|
+-------------------+
|2017-08-26 20:00:00|
|2008-09-11 20:00:00|
|2004-06-28 20:00:00|
+-------------------+
only showing top 3 rows

### Using SQL

Now that we have formatted our data we can begin to use SQL.  Do so by setting the name of the temporary view for our dataframe to `claims`.

And then display the months that the first two claims were made, setting an alias of `month_of_claim`.

+-------------+
|year_of_claim|
+-------------+
|         2017|
|         2008|
+-------------+

### Resources

[Pyspark Operations](https://hendra-herviawan.github.io/)

[Spark SQL string Functions](https://sparkbyexamples.com/spark/usage-of-spark-sql-string-functions/)

[Pyspark From Pandas](https://databricks.com/session/data-wrangling-with-pyspark-for-data-scientists-who-know-pandas)

[Spark Tricks Blog](https://georgheiler.com/2019/02/22/dynamically-select-columns-by-type/)